Bio==1.6.0
biopython==1.81
dash==2.12.1
dash_bootstrap_components==1.4.2
Markdown==3.4.4
matplotlib==3.7.1
numba==0.57.0
numpy==1.23.5
openTSNE==0.6.2
openTSNE==1.0.0
pandas==1.5.3
plotly==5.9.0
Requests==2.31.0
scikit_learn==1.2.1
seaborn==0.13.0
tgb==1.2.0
torch==1.13.1
torch_geometric==2.2.0
torch_geometric_temporal==0.54.0
torch_scatter==2.1.0
tqdm==4.65.0
umap_learn==0.5.3
